header{
  background-image: url('B9A1-New-Year-New-Mission/resources/Banner\ Image.png');
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 16px;
  margin: auto;
}
h4 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 100px;
}
h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}
.content-1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}
.content-2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.content-3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.new-year-photo {
  width: 802.9px;
  height: 500px;
  flex-shrink: 0;
  background-image: url("B9A1-New-Year-New-Mission/resources/New\ Year\ Photo.png");
  margin: auto;
}
.vectorrr {
  background-image: url("B9A1-New-Year-New-Mission/resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  margin: auto;
}
.vectorrr h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  width: 550px;
  padding-left: 50px;
  padding-top: 120px;
}
.vectorrr p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 500px;
  padding-left: 50px;
}
button {
  margin-left: 50px;
  padding: 5px;
  width: 100px;
}
.shoot {
  background-image: url("B9A1-New-Year-New-Mission/resources/Screenshot-1.png");
  width: 1320px;
  height: 520px;
  margin: auto;
  margin-top: 70px;
  border-radius: 10px;
}
.shoot-2 p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
  /* margin: auto; */
  /* margin-top: 50px; */
    width: 550px;
}
.shoot-2 {
    width: 550px;
    margin: auto;
    padding-top: 30px;
}
span {
    color: red;
}

.shoot button {
    background-color: red;
    color: white;
    border: none;
    padding: 15px;
}

.row {
    border: 1px solid red;
    display: table;
    display: flex;
    width: 1320px;
    /* table-layout: fixed; */
    border-spacing: 10px;
    margin: auto;
}
.colum {
  /* border: 2px solid red; */
    display: table-cell;
  /* background-color: red; */
}

.colum-1 {
    padding-top: 60px;
}
.colum-1 p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.colum-1 h5 {
    color: #f00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.colum-1 h2 {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.colum-2 {
    padding-bottom: 70px;
}
.colum-2 img {
    border: 15px solid red;
    border-radius: 50%;
    padding: 10px;
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
}

.colum-3 {
    padding-top: 60px;
}
.colum-3 img {
    width: 200px;
    margin-left: 100px;
  /* border: 15px solid red; */
    border-radius: 50%;
    padding: 20px;
}
.colum-3 h1 {
    color: #f00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.colum-3 p {
    color: rgba(7, 2, 17, 0.6);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
/* .colum h5 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.colum h1 {
    color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 300px;
padding-top: 30px;
}
.colum p{
    color: black;
    display: inline;
    font-style: normal;
}
.colum-1{
    margin-bottom: 100px;
    display: block;
} */
.colum-1 h5 {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-right: 80px;
}

.colum-1 {
    padding-bottom: 100px;
    width: 440px;
}
.colum-1 h2 {
    padding-left: 50px;
}
.colum-2 {
    padding-top: 100px;
    width: 440px;
}
.colum-3 {
    box-sizing: border-box;
    width: 440px;
}
.colum-3 h1 {
    color: #f00;
}
p {
    color: #070211;
    padding-left: 15px;
}
.container-2 {
    width: 1320px;
    padding-top: 20px;
    margin: auto;
}
.mid h1 {
    color: black;
    display: inline;
    width: fit-content;
    padding-left: 380px;
}
.mid h3 {
    color: #070211;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    margin: auto;
}
.mid p {
    width: 600px;
    margin: auto;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.mid {
    margin-top: 20px;
}
.under-box {
    display: flex;
    justify-content: space-evenly;
    width: 1320px;
}
.gift{
    position: absolute;
    padding-right: 600px;
}
.hasi{
    position: relative;
    padding-right: 320px;
}
.fifty{
    position: relative;
    margin-left: 900px;
}

/* .hasi{
    /* display: flex;
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 1.png'); */
/* } */ */

/* .writing-hed-1 h3 {
    color: #f00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

.container-3 {
    width: 1320;
    margin: auto;
    /* border: 2px solid red; */
    /* position: relative; */
    height: fit-content;
    /* flex-direction: column; */
}
.writing-hed{
    margin: 10px;
    /* border: 2px solid red; */
    padding: 15px;
    width: 1320px;
    margin: auto;
    margin-top: 20px;
}
.writing-hed h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    display: inline;
}
.writing-hed h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.writing-hed p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 800px;
}


.allphoto{
    display: flex;
    /* border: 3px solid red; */
    width: 1320px;
    height: fit-content;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    justify-content: space-evenly;
    transition: all ease 0.2s;
}

.photo{
    width: 400px;
    height: 430px;
    flex-shrink: 0;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.photo:hover {
    transform: translateY(-5px) ;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
#photo1{
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 3.png');
}
#photo2{
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 4.png');
}
#photo3{
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 5.png');
}
#photo4{
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 6.png');
}
#photo5{
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 7.png');
}
#photo6{
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle\ 8.png');
}

.last{
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    margin: auto;
    /* position: absolute; */
    margin-top: 40px;
    background: rgba(255, 0, 0, 0.05);
}
.logo{
    width: 450px;
    margin: auto;
}
.logo img {
    padding-left: 150px;
}
.logo h2 {
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.logo p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.button2{
    width:fit-content;
    margin: auto;
    display: flex;
}
#text{
    width: 380px;
    height: 50px;
    margin: auto;
    padding: 10px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 20px;
    border: none;
    display: flex;
    font-size: 2vb;
}
#button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background-color: #F00;
    border: none;
    font-size: larger;
    color: aliceblue;
    /* display: inline-block; */
    padding-right: 50px;
    font-size: 2vb;
}
.contact-us {
    background: #070211;
    width: 1320px;
    margin: auto;
}
.grup-icon {
    align-content: space-evenly;
    width: 500px;
    margin: auto;

}
.icon{
    width: 100px;
    margin: auto;
    display: inline;
    padding: 20px;

}
.information h3{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    width: 300px;
}
.information p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.information {
    display: flex;
    justify-content: space-evenly;
}
.leave h4{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    width: 300px;
}
.leave {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#Unsubscribe{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
footer{
    margin-top: 25px;
}